.row
  .message-wrap.col-lg-8
    .msg-wrap
      = render messages

.send-wrap
  = simple_form_for message do |f|
    = f.input :content, label: "Message"
    = f.input :receiver_id, :as => :hidden, :input_html => { :value => params[:user_id] }
    = f.button :submit
