= simple_form_for(advertisement) do |form|
  = form.input :title
  = form.input :description
  = form.input :address
  = link_to 'Show on the Map', "", onclick: "showMapForm()", remote: true, id: "map_link"
  .show_map#map
  = form.input :start_date
  = form.input :end_date
  = form.input :price
  = form.input :number_of_places
  = form.input :hide
  = form.input :map_lat, as: :hidden
  = form.input :map_long, as: :hidden
  = link_to t('Back'), advertisements_path, class: 'btn btn-default'
  = form.button :submit