= simple_form_for(advertisement) do |form|
  = form.input :title
  = form.input :description
  = form.input :start_date
  = form.input :end_date
  = form.input :price
  = form.input :number_of_places
  = form.input :hide
  = link_to t('Back'), advertisements_path, class: 'btn btn-default'
  = form.button :submit