- if advertisements.none?
  .alert.alert-success= t('Please add advertisement')
- else
  %table.table.table-condensed
    %thead
      %tr
        %th= t('Title')
        %th= t('Address')
        %th= t('Start date')
        %th= t('End date')
        %th= t('Price')
        %th= t('Number of places')
        %th= t('Actions')
    %tbody
      = render advertisements


= link_to t('New'), new_advertisement_path, class: 'btn btn-default'
= will_paginate advertisements