%table.table.table-condensed
  %thead
    %tr
      %th= t('Title')
      %th= t('Start date')
      %th= t('End date')
      %th= t('Price')
      %th= t('Number of places')
      %th= t('Actions')
  %tbody
    = render advertisements