%table.table.table-condensed
  %tbody
    %tr
      %td= t('Title')
      %td= advertisement.title
    %tr
      %td= t('Description')
      %td= advertisement.description

= link_to t('Back'), advertisements_path, class: 'btn btn-default'