= content_for :header do
  = stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css'
  = javascript_include_tag 'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'


%h1= advertisement.title


%table.table.table-condensed
  %tbody
    %tr
      %td= t('Description')
      %td= advertisement.description
    %tr
      %td= t('Address')
      %td= advertisement.address
    %tr
      %td= t('Start date')
      %td= advertisement.start_date
    %tr
      %td= t('End date')
      %td= advertisement.end_date
    %tr
      %td= t('Price')
      %td= advertisement.price
    %tr
      %td= t('Number of places')
      %td= advertisement.number_of_places

= link_to t('Back'), advertisements_path, class: 'btn btn-default'

#map

:javascript
  var lat = #{advertisement.map_lat}
  var long = #{advertisement.map_long}
  L.mapbox.accessToken = 'pk.eyJ1IjoibmV0Z3VydXdvcmtzaG9wcyIsImEiOiIwODdmZmNlYTViMzMxZTQyY2U5NjI1NWVmMGI4MzI1YSJ9.pTSx-gR1dHPt2lmMutPIZQ';
    var map = L.mapbox.map('map', 'netguruworkshops.na5f19j3')
      .setView([lat, long], 16);
  