%table.table.table-condensed
  %tbody
    %tr
      %td= 'Title'
      %td= advertisement.title
    %tr
      %td= 'Description'
      %td= advertisement.description

= link_to 'Back', advertisements_path, class: 'btn btn-default'